.body{
    background-color: rgb(126, 121, 121);
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 70px;
}
fieldset{
    text-align: center;
    background-color: rgb(150, 139, 139);
    height: 50px;
    border:1px solid black;
    margin-top: 20px;
    
}

select{
    
    text-align: left;
    height: 40px;
}
h1{
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    color: wheat;
    background-color: black;
    margin-bottom: 50px;
}
.meio{
    margin-top: 10px;
    width: 100%;   
    
}
.botao{
    margin-top: 50px;
    margin-left: 33%;
    background-color: green;
    color: white;
    padding: 20px;
    border: 2px solid red;
    border-radius: 30px;
    text-decoration: none;
}
.botao:hover{
    background: white;
    color: black;
}
.pagamento{
    margin-bottom: 50px;
}
.borda{
    border: 1px solid blue;
    border-radius: 30px;
    height: 30px;
    font-size: large;
}
.bt-form{
    padding: 2%;
    background: rgb(48, 48, 212);
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.bt-form:hover{
    background: white;
    color: black;
    border-color: rgb(48, 48, 212);
}