{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<div class="container">
    <H1>Despesas da Vaigem</H1>
    <form action="{% url 'dados' %}" class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-md-2">
            <label for="id" class="form-label">ID da Despesa</label>
            <input type="number" name="id" id="id" class="form-control" readonly>
        </div>
        <div class="col-md-4">
            <label for="nome-viagem" class="form-label">Selecione a viagem</label>
            <select name="nome-viagem" id="nome-viagem" class="form-select" required>
                {% for item in nomev %}
                {% if item.atividade %}
                <option value="{{ item.id }}">{{ item.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <label for="data" class="form-label">Data da Despesa</label>
            <input type="date" name="data" id="data" class="form-control" required>
        </div>
        <div class="col-md-4">
            <label for="carro" class="form-label">Selecione o carro</label>
            <select name="carro" id="carro" class="form-select">
                {% for item in carro %}
                <option value="{{ item.id }}">{{ item.placa }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="tipo" class="form-label">Selecione a Despesa</label>
            <select name="tipo" id="tipo" class="form-select" required onchange="despesa()">
                <option selected></option>
                {% for item in tipos %}
                <option value="{{ item.id }}">{{ item.tipo}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="qnt" class="form-label">Quantidade</label>
            <input type="number" name="qnt" id="qnt"  step="0.010" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="valor" class="form-label">Valor</label>
            <input type="number" name="valor" id="valor" class="form-control" step="0.010">
        </div>
        <div class="col-md-2">
            <label for="kmi" class="form-label">KM Inicial</label>
            <input type="number" name="kmi" id="kmi" class="form-control" required>
        </div>
        <div class="col-md-2">
            <label for="kmf" class="form-label">KM Final</label>
            <input type="number" name="kmf" id="kmf" class="form-control" required onchange="somarkm()">
        </div>
        <div class="col-md-2">
            <label for="kmr" class="form-label"> KM Rodados</label>
            <input type="number" name="kmr" id="kmr" class="form-control" readonly>
        </div>
        <div class="col-md-2">
            <label for="consumo" class="form-label">Cosnumo</label>
            <input type="" name="consumo" id="consumo" class="form-control" readonly>
        </div>
        <div class="col-md-4">
            <label for="cidade" class="form-label">Selecione a cidade</label>
            <select name="cidade" id="cidade" class="form-select">
                <option selected></option>
                {% for item in cidade %}
                <option value="{{ item.id }}">{{ item.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="pg" class="form-label">Forma de Pagamento</label>
            <select name="pg" id="pg" class="form-select">
                {% for item in pagamento %}
                <option value="{{ item.id }}">{{ item.forma_pagamento}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">Slavar Despesa</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Viagem</th>
                <th scope="col">Data</th>
                <th scope="col">Despesa</th>
                <th scope="col">Qnt</th>
                <th scope="col">valor</th>
                <th scope="col">km Rodado</th>
                <th scope="col">Consumo</th>
                <th scope="col">Cidade</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
                {% for item in despesas %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.idviagem.nome }}</td>
                <td>{{item.data}}</td>
                <td>{{ item.idTipo.tipo }}</td>
                {% if item.qnt == 0 %}
                <td></td>
                {% else %}
                <td>{{ item.qnt }}</td>
                {% endif %}
                <td>{{ item.valor }}</td>
                {% if item.idTipo.id != 5 %}
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td>{{ item.kmrodado }}</td>
                <td>{{ item.consumo }}</td>
                <td>{{ item.idcidade.nome }}</td>
                {% endif %}
                <td>{{ item.idpagamento.forma_pagamento }}</td>
                <td><button type="button" class="btn btn-primary" 
                onclick="alterDespesa('{{ item.id }}')">Alterar</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </form>
</div>
<script src="{% static 'js/dados.js' %}"></script>
{% endblock %}