
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet"  href="teste.css">

</head>
<body>
<div>
    <h1>Controle de Despesas</h1>
    <p>Insira seus dados de Viagem</p>
    <br>
</div>
<form >
    <div>
        <fieldset>
            <div>
                <label>Viagem</label>
                <input type="text" name="viagem" id="viagem">
            </div>
            <div>
                <label>Carro</label>
                <select id="carro">
                    
                      <option>rrt3e35</option>
                    
                </select>
            </div>
        </fieldset>
    </div>
    <div>
        <label>Data</label>
        <input type="date" name="data"  id="data">
    </div>


</form>



</body>

</html>