{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<div class="container">
    <h1>Tipos de Despesas</h1>
</div>
<div class=" container">
  <form action="{% url 'tipo' %}" method="post" autocomplete="off" class="row g-3"> 
    {% csrf_token %}
    <div class="mb-3">
      <label for="id" class="form-label">Id Tipo de despesa</label>
      <input class="form-control" id="id" name="id" readonly></input>
      <label for="tipo" class="form-label">Tipo de despesa</label>
      <input class="form-control" id="tipo" name="tipo" placeholder="Tipo de depesa" required></input>        
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-outline-primary" >Salvar Tipo</button>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de despesa</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
            {% for tp in tipo %}
          <tr>
            <th scope="row">{{ tp.id }}</th>
            <td>{{ tp.tipo }}</td>
            <td><button type="button" class="btn btn-primary" 
            onclick="alterTipo('{{ tp.id }}', '{{ tp.tipo }}')">Alterar</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </form>
</div>
<script src="{% static 'js/alter.js' %}"></script>
{% endblock %}